# Unstructured API key - get yours from the Transform get-started page:
# https://transform.unstructured.io/get-started
UNSTRUCTURED_API_KEY=

# AWS credentials for Amazon Bedrock model access
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-west-2
